html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    margin-left: 0px;
}

#header {
    width: 100vw;
    margin-top: -10px;
    margin-bottom: -15px;
    text-align: center;
    background: #8d8dff;
}

#buttons a{
    display: inline-block;
    background: blue;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    width: 100px;
    margin: 0;
    padding: 0;
    transition: .5s;
}

#buttons a:hover {
    background: #009eac;
    transition: .5s;
}

.sized {
    width: 100vw;
    height: 70vh;
    margin: 0px;
    padding: 0px;
}

.sized p {
    line-height: 70vh;
    text-align: center;
}

#banner {
    background: #c6c6c6;
    margin-bottom: -15px;
}
#webexplain {
    background: #62c7c7;
}
#aboutus {
    background: #4d40eb;
}
#links {
    background: #c04cd0;
    height: 200px;
    text-align: center;
}

#pictures {
    height: 200px;
    width: 200px;
    margin-top: 50%;
    margin: auto;
}

#pictures thead {
    text-align: center;
    margin: 0;
    padding: 0;
}

#pictures td {
    text-align: center;
    height: 65px;
    width: 100px;
    border-radius: 100px;
    background: grey;
}
