/*Global*/
html {
    overflow-x: hidden;
}
body {
    margin: 0px;
}



/*Navigation*/
#header {
    z-index: 1;
    width: 100vw;
    height: 70px;
    position: absolute;
    text-align: center;
}
#left img {
    float: left;
    height: 70px;
}
#buttons {
    float: right;
}
#buttons span {
    margin-right: 60px;
}
#buttons a{
    display: inline-block;
    background: hsla(0, 0%, 0%, 0.4);
    line-height: 60px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 100;
    width: 100px;
    transition: .5s;
}
#buttons a:hover {
    background: #009eac;
    transition: .5s;
}



/*Windows*/
.sized {
    width: 100vw;
    height: 97vh;
    min-height: 600px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
}



/*First div*/
#banner {
    background: url(Images/Summer%20Snow.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 2000px;
}
.content {
    left: 18%;
    top: 12%;
    width: 60vw;
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.47);
}
.TitleSub {
    font-size: 15pt;
    line-height: 50px;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}
.TitleBanner {
    font-size: 50pt;
    margin: 10px;
}
#button a {
    position: absolute;
    top: 70%;
    left: 43%;
    background: rgba(0, 0, 0, 0.47);
    padding: 10px 10px;
    transition: .5s;
    text-decoration: none;
    color: white;
}
#button a:hover {
    background: #009eac;
    transition: .5s;
}


/*App Explain*/
.title {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20pt;
}
.sub {
    font-size: 14pt;
}
#appexplain {
    background-image: linear-gradient(#0093ff,#65a765);
}
#appexplain table {
    position: absolute;
    margin: auto;
    width: 80vw;
    left: 10%;
    margin-top: 10%;
    color: white;
}
#appexplain td:first-child  {
    width: 25%;
    text-align: center;
}
#appexplain img {
    height: 200px;
    border-radius: 30px;
}




/*About Us*/
#aboutus {
    background: url(Images/Mt%20Hood%20at%20Night.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 2000px;
    /*background-image: linear-gradient(#7bc7ff,#65a765);
    color: black;*/
    position: relative;
}

#pictures {
    position: absolute;
    left: 25%;
    top: 7%;
    width: 50%;
    background: rgba(0, 0, 0, 0.2);
}

#pictures img {
    margin-top: 50%;
    height: 200px;
    width: 200px;
    border: none;
}
#pictures td {
    background: grey;
}
.staff {
    height: 100px;
    width: 100px;
    text-align: center;
}



/*Screen Resizing*/
@media screen and (max-width: 1400px) {
    #pictures {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .sized {
        height: 40vh;
    }
    .content {
        width: 100vw;
        left: 0px;        
    }
    #appexplain table {
        width: 100vw;
        left: 0px;
    }
    #appexplain img {
        height: 100px;
        border-radius: 30px;
    }
}
