@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

body{
    background: url(../Images/Half_Dome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 2000px;
    height: 100vh;
    overflow: hidden;
    animation: fadein .5s;
}

h1, a, label, p, td, input[type=submit]{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans';
}

h1 {
    padding-top: 1cm;
    padding-left: 1cm;
    padding-bottom: .25cm;
    font-size: 40px;
    border-width: thick;
}

input[type=text], input[type=password] {
    font-size: 20px;
    height: 40px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type=submit]{
    padding: 10px;
    width: 200px;
    font-size: 12pt;
    color: white;
    border: none;
    text-decoration: none;
    transition: .5s;
    background-color: rgba(85, 158, 175, 0.7);
    margin-bottom: 50px;
}

input[type=submit]:hover {
    background: #009eac;
    transition: .5s;
}

img {
    position: absolute;
    left: 4px;
    top: 5px;
    height: 70px;
}

a {
    padding-left: 1cm;
    font-size: 18px;
    color: #f4f8ff;
}

table {
    background: rgba(0, 0, 0, 0.65);
    width: 40vw;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    border-radius: 20px;
}

#register {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    transition: .5s;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

#register a {
    text-align: center;
}

#register:hover {
    background: #009eac;
    transition: .5s;
}

@media screen and (max-width: 1200px) {
    table {
        width: 480px;
    }
}