body{
    background: linear-gradient( white, #2477cb);
}

h1 {
    padding-top: 1cm;
    padding-left: 1cm;
    padding-bottom: .25cm;
    font-size: 40px;
    color: black;
    border-width: thick;
    font-family: sans-serif;
    font-weight: 100;
}

label {
    padding-bottom: .5cm;
    padding-left: 1cm;
    font-family: sans-serif;
    font-weight: 100;
    color: black;
}

.textBox {
    font-size: 20px;
    margin: 5px 0;
    box-sizing: border-box;
    width: 200px;
}

input[type=submit]{
    margin-left: 1cm;
    margin-top: .1cm;
    padding-left: .5cm;
    padding-right: .5cm;
    padding-bottom: .1cm;
    padding-top: .1cm;
    font-size: 10px;
    color: white;
    border: none;
    text-decoration: none;
    background-color: #2c4352;
    font-family: sans-serif;
    font-weight: 100;
}
