body{
    background: url(../Images/Bay_Bridge.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 2000px;
    height: 100vh;
    overflow: hidden;
}

h1, h3, input[type=submit], a, .error {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans';
    text-align: center;
}

td {
    text-align: center;
}

img {
    position: absolute;
    left: 4px;
    top: 5px;
    height: 70px;
}

table {
    width: 40vw;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 10px 10px 5px 10px;
}

.textBox {
    font-size: 20px;
    margin: 5px;
    height: 40px;
    box-sizing: border-box;
    width: 300px;
}

#home {
    background: rgba(78, 78, 78, 0.6);
    padding: 20px;
    transition: .5s;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

#home a {
    text-align: center;
}

#home:hover {
    background: #009eac;
    transition: .5s;
}

#submit {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    font-size: 12pt;
    color: white;
    border: none;
    text-decoration: none;
    transition: .5s;
    background-color: rgba(85, 158, 175, 0.7);
    margin-bottom: 50px;
}

#submit:hover {
    background: #009eac;
    transition: .5s;
}

@media screen and (max-width: 1200px) {
    table {
        width: 480px;
    }
}