html {
    overflow-x: hidden;
}

body{
    background: linear-gradient( white, #2477cb);
}

h1 {
    padding-top: 1cm;
    padding-left: 1cm;
    padding-bottom: .25cm;
    font-size: 40px;
    color: black;
    border-width: thick;
    font-family: sans-serif;
    font-weight: 100;
    width: 100vw;
    text-align: center;
}

h3 {
    width: 100vw;
    text-align: center;
}

label {
    padding-bottom: .5cm;
    padding-left: 1cm;
    font-family: sans-serif;
    font-weight: 100;
    color: black;
}

table {
    width: 600px;
}

.textBox {
    font-size: 20px;
    margin: 5px 0;
    box-sizing: border-box;
    width: 200px;
}

#around {
    margin: auto;
    background: rgba(2, 2, 2, 0.26);
    border-radius: 20px;
    width: 600px;
    padding: 10px 10px 5px 10px;
    
}

.alignRight {
    text-align: right;
    margin-right: 10px;
}

input[type=submit]{
    margin-left: 1cm;
    margin-top: 20px;
    padding: .1cm .5cm;
    font-size: 15px;
    color: white;
    border: none;
    text-decoration: none;
    background-color: #2c4352;
    font-family: sans-serif;
    font-weight: 100;
}
