body{
    background: linear-gradient( white, #2477cb);
}

/*
h1 {
    padding-top: 1cm;
    padding-left: 1cm;
    padding-bottom: .25cm;
    font-size: 40px;
    color: black;  
    border-width: thick;
    font-family: sans-serif;
    font-weight: 100;
}
p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-left: 1cm;
    padding-right: 3cm;
}*/

h1, p, h3 {
    width: 100vw;
    text-align: center;
    color: black;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#box {
    height: 100px;
    width: 100px;
    background: #6969e3;
    margin: auto;
}

#box h2 {
    width: 100%;
    line-height: 100px;
    text-align: center;
}

#box:hover {
    color: blue;
    transition: .4s;
}