/*------------Page------------*/
html {
    overflow-x: hidden;
}
body {
    width: 100vw;
    margin-left: 0px;
    margin-top: 0px;
}
h1, h3, p, a {
    font-family: 'Open Sans';
    font-weight: 100;
}






/*------------Nav------------*/
nav {
    width: 100vw;
    height: 100px;
    position: absolute;
    margin-left: 0px;
    border-bottom: 1px solid grey;
    margin: 0px;
    padding: 0px;
}
nav h1 {
    width: 50%;
    text-align: center;
    line-height: 100px;
    margin: auto;
}
table {
    background-image: linear-gradient(#1AD2FD, #1D64F0);
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
}
td {
    text-align: center;
    width: 33vw;
    margin: 0;
    padding: 0;
}
table img {
    height: 100px;
    width: 100px;
}
#logo {
    text-align: left;
}
#toMap a {
    text-decoration: none;
    color: white;
    font-size: 14pt;
}




/*------------Drop Down------------*/
#dropDown {
    text-align: right;
}
#dropDownClicker{
    transition: .5s;
    position: relative;
    width: 150px;
    text-align: center;
    float: right;
    background-color: #ffffff;
    margin-top: -5px;
    margin-right: 13px;
}
#dropDownClicker:hover {
    background: #cccccc;
    transition: .5s;
}
#dropDownHolder{
    position: absolute;
    right: 0px;
    top: 150px;
}
.hiddenDropDown{
    visibility: hidden;
}
.visibleDropDown{
    visibility: visible;
}
.dropDownThings{
    width: 165px;
    height: 30px;
    background: rgba(0, 0, 0, 0.46);
    color: white;
    transition: .5s;
}

.dropDownThings:hover{
    transition: .5s;
    background: rgba(3, 178, 171, 0.46);
    color: white;
}


/*------------Banner------------*/
#banner {
    height: 90vh;
    width: 100vw;
    background: url(../Images/Old%20House.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 2000px;
    text-align: center;
}
#recentBadge {
    background: rgba(0, 0, 0, 0.46);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
    color: white;
}



/*------------Badges------------*/
#badges {
    height: 100vh;
    /*background-image: linear-gradient(#909cb2,#636d6d);*/
    background-image: linear-gradient(#0093ff,#41953a);
    margin-top: -30px;
}
#badges h1 {
    text-align: center;
    color: white;
    line-height: 100px;
}

.lockedBadge {
    height: 10vw;
    width: 10vw;
    display: inline-block;
    border-radius: 100px;
    margin: 1vw;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
    background: black;
}

.lockedBadge img {
    height: 100%;
    width: 100%;
    opacity: .2;
}

.badge {
    height: 10vw;
    width: 10vw;
    display: inline-block;
    border-radius: 100px;
    margin: 1vw;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
}
.badge img {
    height: 100%;
    width: 100%;
}
#display {
    width: 80vw;
    height: auto;
    margin: auto;
    text-align: center;
}






/*------------Modal Content/Box------------*/
.modal {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60vw; /* Could be more or less, depending on screen size */
}