/*
Colors:
Black:          #202020
Blue:           #102A44
Navy Green:     #112F30
Emerald Green:  #25653C
Mint Green:     #4EBC5E
Light Blue:     #A6ECDD
*/

nav {
    position: fixed;
    width: 100vw;
    height: auto;
    margin-top: -150px;
    margin-left: 10px;
    background: rgba(113, 113, 113, 256);
}

#dropDown{
    position: relative;
    display: inline-block;
    background-color: #ff0000;
    width: 50%;
    height: 100%;
}

#dropDownClicker{
    padding-top: 15px;
}

#dropDownHolder{
    position: absolute;
}

.hiddenDropDown{
    visibility: hidden;
}

.visibleDropDown{
    visibility: visible;
}
.dropDownThings{
    color: blue;
}

table {
    width: 101vw;
    height: 100px;
}

td {
    text-align: center;
    width: 16.7%;
    margin: 0;
    padding: 0;
    transition: .5s;
}

h1, h3 {
    font-family: sans-serif;
    font-weight: 100;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    margin-left: 0px;
    margin-top: 0px;
}


table {
    width: 100vw;
}

table img {
    height: 100px;
    width: 100px;
}

table tr td {
    height: 100px;
}

.third {
    width: 33vw;
    height: 100px;
    float: left;
}

nav h1 {
    width: 50%;
    text-align: center;
    line-height: 100px;
    margin: auto;
}

#menu {
    height: 100px;
    width: 100px;
    position: inherit;
    float: right;
    background: #434343;
    border: none;
}

#banner {
    height: 700px;
    width: 101vw;
    background-image: linear-gradient(#ffffff,#2477cb);
    margin-top: -40px;
    text-align: center;
}

#search {
    height: 100px;
    width: 50vw;
    margin: auto;
    top: 80px;
    position: relative;
    background: #e0e0e0;
}

#search h1 {
    color: #a0a0a0;
    line-height: 100px;
    padding-left: 30px;
    font-size: 3vw;
}

#toMap {
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 250px;
    background: #c6c6c6;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}

#toMap a {
    text-decoration: none;
}

#toMap h3 {
    color: #000000;
}

#badges {
    height: 100vh;
    background: #ffffff;
    margin-top: -30px;
}

#badges h1 {
    text-align: center;
    line-height: 100px;
}

#display {
    width: 80vw;
    height: auto;
    margin: auto;
    text-align: center;
}

.badge {
    height: 10vw;
    width: 10vw;
    display: inline-block;
    background: grey;
    border-radius: 100px;
    margin: 1vw;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
}

.badge img {
    height: 100%;
    width: 100%;
}

.modal {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
