* {
    text-align: center;    
}

html {
    background: #34a2f2;
}

#home div {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 10vh;
    margin: auto;
    position: absolute;
    transition: .5s;
}

#home div:hover {
    transition: .5s;
    background: rgba(191, 191, 191, 0.77);
    color: aqua;
}

#home {
    line-height: 100px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
}